:root{
    --primary: #f85555;
    --light-gray: #dcd9d9;
    --gray: #c7c7c7;
    --dark-gray: #4f4f4f;
    --text-gray: #ababab;
}



.productslist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbutton{
    background-color: var(--primary);
    color: White;
    font-weight: 400;
    width: 260px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hometitle{
    color: var(--primary);
}



.toggleCategories{
    width: 100%;
    background-color: var(--primary);
    color: white;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.categories{
    color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--dark-gray);
    padding: 60px 0;
    position: relative;
    color: white;
}

.footer span{
    color: white;
    text-decoration: none;
}

.copyright{
    text-align: center;
}

.card{
    height: 350px;
    overflow-y: auto;
}

.card-text{
    color: black;
    text-align: center;
}

.cardTitle{
    color: black;
    text-align: center;
    text-decoration: none;
}



.cardsGroup{
    height: fit-content;
    text-decoration: none;
}

/* NAVBAR */
.navbar-brand{
    color: var(--primary);
}


/* CARROUSEL */
.carousel-indicators button {
background-color: var(--primary);
color: var(--primary);
}

.carousel-control-next-icon{
    color: #f85555;
}

.carousel-control-prev-icon{
    background-color:var(--primary);
    border-radius: 35%;
}

.carousel-control-next-icon{
    background-color: var(--primary);
    border-radius: 35%;
}

.card-group>.card {
    border-radius: 50px;
    height: fit-content;
    text-align: center;
}

.me-auto{
    display: flex;
    justify-content: end !important;
    /* background-color: aquamarine; */
    width: 100%;
    border: var(--gray);
}

.buttonhomecart{
    border-radius: 50%;
    display: flex;
    flex-grow: none;
    overflow: none;
    /* width: 20px; */
}

.card-text{
    overflow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputAddCart{
    display: flex;
    /* background-color: red; */
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80px;
    gap: 5rem;
}

.priceCart{
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
}
.quantityCart{
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    width: fit-content;
    gap: .5rem;
    justify-content: center;
    border: 1px solid grey;
}

.quantityCart article{
    width: 20%;
    border: 1px solid white;
    height: 30px;
    /* border-radius: 10px; */
    text-align: center;
}

.quantityCart button{
    height: 30px;
    /* border-radius: 10px; */
    border: 1px solid white;
    /* background-color: #f85555; */
    color: white;
    /* display: flex;
    width: 40px;
    height: 40px;
    align-items: center; */
}

.purchaseContainer{
    text-decoration: none;
    list-style: none;
    color: black;
}

.product_inf {
    display: flex;
    margin-bottom: 15px;
}

.product_inf img {
    height: 100px;
    object-fit: contain;
    width: 100px;
    
}
.details {
    flex: 1 1;
    padding: 0 10px;
}
.btns {
    display: flex;
}

.list {
    margin-top: 10px;
    margin-bottom: 70px;
}
.quantity-box button {
    background: none;
    height: 30px;
    line-height: 1.9;
    width: 30px;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid lightgray;
}
.quantity-box .value {
    line-height: 1.7;
    padding: 0 20px;
    border: 1px solid lightgray;
}
.button-delete  button{
    background: transparent;
    color: #f85555;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.total {
    text-align: right;
    
}
.label {
    color: gray;
    font-size: 0.8rem;
    margin-right: 20px;
}
.similar_items {
    margin-top: 30px;
}
.check {
    border-top: 2px solid gray;
    padding: 45px 20px;
}

.btn_check{
    background-color: var(--primary);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}